<a href="https://colab.research.google.com/github/BigT1292/BigT1292/blob/main/Python_04_Boolean_and_Data_Types_Summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<img src="https://user-images.githubusercontent.com/63881436/139043046-f689a1ec-989d-4a71-bb24-8a6b6a41d149.jpg" alt="Wyton Station Logo" width="100%">


**<font color="grey" size=5>Before you get started, don't forget to click "File" then "Save a Copy in GitHub" to save a copy of this tutorial into your GitHub repository. From the GitHub page that opens click the "Open in Colab" button to open your saved tutorial. Save any progress you make by clicking "File" then "Save a Copy in GitHub" again.</font>**

**Note:**  If you see a word or phrase highlighted like this **<font color="red">example$^ {1}$</font>** you can find a definition in the **Definitions and Terms** section, located at the end of the tutorial.

***

#**Introduction**

Placeholder

#####**What you'll learn in this tutorial?**

1.   Placeholder.
2.   Placeholder.
3.   Placeholder.
4.   Placeholder.

At the end of the tutorial you will have the opportunity to test what you have learned.

***

#**Boolean in Python**

##**Types of numbers**
Python has various "types" of numbers, we'll mainly focus on integers and floating point numbers for this tutorial.

Integers are  positive or negative whole numbers. 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them. Again these decimal numbers can be positive or negative. 2.0 and -2.1 are examples of floating point numbers. 

Exponents are also recognised by python written as e or E. Exponents are useful for writing very small or very large numbers. For example, float 0.000000123 can be written 1.23E-7

Throughout this course we will be mainly working with integers or simple float number types.

Now let's start with some basic arithmetic.

***

## **Basic Arithmetic**

Python can manipulate numbers in very much the same way that you would use a calculator. This is done through the use of an **<font color="red">operator$^{2}$</font>**. An operator is a pythonic term for the symbol used to carry out a particular operation (hence the name). Here is a list of operators we can use:

Operator  | Function 
----------|-------------
+         | Addition
-         | Subtraction 
*         | Multiplication
/ | Division
%| Modulus
** | Exponentiation
//| Floor Division

In [ ]:
# Addition (try replacing the values below so the output returns 42)
40 + 2

42

In [ ]:
# Subtraction (try replacing the values below so the output totals 14
20-6

14

In [ ]:
# Multiplication (try replacing the values below so the output totals 20 )
2*10

20

In [ ]:
# Division (try replacing the values below so the output totals 2.5 )
5/2

2.5

In [ ]:
# Floor Division (Run the cell and observe the output, see below for an explanation)
7//4

1

The reason we get the result above is because we are using "floor" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

What if we want the remainder after a division?

In [ ]:
# Modulo
7%4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division. One usecase of modulo is to check if a number is even or not. If the result of a given number %2 is equal to 0 then we know it is even.

In [ ]:
# Powers (try replacing the values below so the output is 3 to the power of 3)
2**3

8

In [ ]:
# You Can also do roots this way (The example below gives the square root of 4)
4**0.5

2.0

In [ ]:
# Order of Operations followed in Python (Brackets, Orders, Division, Multiplication, Addition, Subtraction (BODMAS))
2 + 10 * 10 + 3

105

In [ ]:
# You can use parentheses to specify orders
(2+10) * (10+3)

156

***

## **Variable Assignments**

Now that we've seen how to use numbers in Python as a calculator let's see how we can use numbers to create **<font color="red">variables$^{3}$</font>**. A variable can be considered as a container that stores a value.

When conducting variable **<font color="red">assignment$^{4}$</font>** we use a single equals sign to apply labels to values. It is important to note that you must assign a variable before you can use it. 

Let's see a few examples of how we can do this.

In [ ]:
# Let's create an variable called "a" and assign it the number 5
a = 5

Now if you call a in your Python code, Python will retrieve the value stored in the variable named a. Essentially it will treat a as if it was the number 5.

In [ ]:
# Let's recall the value stored in variable "a"
a

5

In [ ]:
# We can call our variables to perform calculations using operators
a+a

10

Another important thing to note with variable assignment is that everything on the right of the equals sign is processed first. The outcome of this process is then assigned to the variable name defined on the left of the equals.

In [ ]:
# In the example below the a*a is processed firts with the result being assigned to the variable "b"
b = a*a

In [ ]:
b

25

What happens if we try to assign a new value to an existing variable? Will Python let us write it over?

In [ ]:
# Let's remind ourselves what value is currently stored in "a"
a

5

In [ ]:
# Now let's try to change the value of "a" to a new value
a = 10

In [ ]:
# Let's check what the value of "a" is now. Has it changed?
a

10

Yes! Python allows you to write over assigned variable names, this is called **<font color="red">reassignment$^{5}$</font>**. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [ ]:
# Let's remind ourselves what value is currently stored in "a"
a

10

In [ ]:
# Let's reassign "a" using the current value stored in "a"
a = a + a

In [ ]:
# Let's check what the value of "a" is now. 
a

20

The names you use when creating these labels need to follow a few rules:

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead (snake_case).
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
4. It's considered best practice that names are all lowercase.
5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.
6. Avoid using words that have special meaning in Python ([keywords](https://docs.python.org/3/reference/lexical_analysis.html#keywords))


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [ ]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [ ]:
# Show my taxes!
my_taxes

So what have we learned? We learned some of the basics of numbers in Python. We also learned how to do arithmetic and use Python as a basic calculator. We then wrapped it up with learning about Variable Assignment in Python.

***

## **Test What You've Learned**

Now let's use what we have learned by applying it to a scenario.

Monty earns a gross salary of 25,000 each year.
Monty must pay 12% of his gross salary in National Insurance.
Monty must pay a basic rate of Income Tax at 20% of his gross salary.

You are to create variables for and calculate the following in the cells provided:

*   The amount Monty must pay in Income Tax.
*   The amount Monty must pay in National Insurance.
*   The total combined deductions Monty must pay.
*   The total net salary that Monty has remaining.
*   The total net monthly income Monty will have.

In [ ]:
#The amount Monty must pay in Income Tax.
tax = 25000 * 0.2
tax

5000.0

In [ ]:
#The amount Monty must pay in National Insurance.
nat = 25000 * 0.12
nat

3000.0

In [ ]:
#The total combined deductions Monty must pay.
tot_deductions =

In [ ]:
#The total net salary that Monty has remaining.

In [ ]:
#The total net monthly income Monty will have.

***

Now build a temperature converter.

The formula to go from Celsius to Farenheit is (°C x 9/5) + 32, meaning 0°C = 32°F.
Create variables for C and F and return the conversions as below.

In [ ]:
#Write some code that takes a temperature of 0°C and outputs 32°F (Don't worry about showing the unit in your output, just the numeric value)

In [ ]:
#Do the same thing but take 32°F and output 0°C (You might want to Google the formula to convert Farneheit to Celcius)

***

Now let's test your use of `modulo` and `floor division` by answering the following questions:

Dave loves collecting movie trilogies on DVD. In an attempt to display his collection Dave has bought a DVD display unit that holds 1400 individual DVDs.
Dave is a bit of a perfectionist and wants to make sure he fills the display completely with no empty spaces.

In [ ]:
#Using the provided variables work out if the display unit is suitable for Dave to use.
trilogy = 3
display_capacity = 1400

In [ ]:
#Now work out how many complete trilogies in Dave's collection could be displayed.

***

##**Summary**

We've learned about number data types and how we can use them in Python. We've covered:

1.   Types of Numbers in Python.
2.   Basic Arithmetic.
3.   Differences between classic division and floor division.
4.   Variable assignment and reassignment.


These concepts are pretty straightforward but the applications for these will soon become immensely useful. What you'll find with Python is that the syntax and concepts are relatively easy, but the challenge (and the interesting parts!) comes with trying to use these concepts in a logical manner to solve problems. 
An example question might be something like: 

The sum of all prime numbers under 10 is 17. What is the sum of all prime numbers under 1,000?

Currently you lack the knowledge to solve this programmatically but you could start to think about this and other complex problems.

***

#**What you'll learn in the next tutorial?**

We'll be back soon with another tutorial, but in the meantime feel free to practice what we've shown you so far.

Next time we will look at another data type in strings,  if you are eager to learn and feel like looking at strings ahead of the next tutorial, you could do worse than look at [this](https://realpython.com/python-strings/) online tutorial.

From all of us at the Wyton Coding Club admin team,

Happy Coding!

***

#**Definitions and Terms**

**<font color="red">$^{1}$syntax - </font>** <font color="red">The syntax of the Python programming language is the set of rules which defines how a Python program will be written.</font>

**<font color="red">$^{2}$operator - </font>**<font color="red">Special symbols in Python that carry out arithmetic or logical computation.</font>

**<font color="red">$^{3}$variable - </font>**<font color="red">A Python variable is a symbolic name that is a reference or pointer to an object. Once an object is assigned to a variable, you can refer to the object by that name.</font>

**<font color="red">$^{4}$assignment - </font>**<font color="red">We use Python assignment statements to assign values or objects to names.</font>


**<font color="red">$^{5}$reassignment - </font>**<font color="red">The process of assigning a new value to a variable is called reassignment.</font>